name: crag
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - matplotlib
  - tqdm
  - pip:
    - openai
    - editdistance
    - regex
    - rank-bm25
